<!-- <h1>You have visited this page <%= @counter %> times.</h1>
 -->
<% @recipes.each_slice(3) do |recipe_slice| %>
  <div class="row">
    <% recipe_slice.each do |recipe| %>
      <div class="col-md-4 col-sm-6 product-index-single">
        <div class="well">
          <h2>Title: <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
          <h3>Chef: <%= recipe.chef %></h3>
          <h5>Prep Time: <%= recipe.friendly_prep_time %></h5>
          <img src="<%= recipe.image_url %>" alt="">
          <h4>Ingredients: <%= recipe.ingredients %></h4>
          <h4>Directions: <%= recipe.directions %></h4>
        </div>
      </div>
    <% end %>
  </div>
<% end %>