<h1>Recipe Info</h1>
<h2>Title: <%= @recipe.title %></h2>
<h3>Chef: <%= @recipe.chef %></h3>
<h4>Ingredients: <%= @recipe.ingredients %></h4>
<h4>Directions: <%= @recipe.directions %></h4>

<%= link_to "Edit Recipe", "/recipes/#{ @recipe.id }/edit", class: "btn btn-warning" %>
<%= link_to "Delete Recipe", "/recipes/#{ @recipe.id }", method: :delete, class: "btn btn-danger" %>